@import "tailwindcss";

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f3f4f6 inset !important; /* Cambia "white" por el color que quieras */
  box-shadow: 0 0 0px 1000px #f3f4f6 inset !important;
  -webkit-text-fill-color: #000 !important; /* Color del texto */
  transition: background-color 5000s ease-in-out 0s;
}